<div id="searchResults" class="section is-hidden">
    <h4 class="title is-3"> Search results </h4>
    <div id="searchResultsCol" class="columns is-multiline search-results-grid">
        {{/* Search template will populate here */}}
    </div>
</div>
<script id="search-result-template" type="text/x-js-template">
    <div class="column is-one-quarter">
        <div class="result" id="summary-${key}">
            <div class="card summary search-card">
                <div class="card-image">
                    <a href="${link}">
                        <figure class="image is-4by3">
                            <img src="${image}" alt="${title}">
                        </figure>
                    </a>
                </div>
                <div class="card-content">
                    <div class="media-content">
                        <p class="title is-4 has-text-centered"><a href="${link}" style="color: inherit;">${title}</a></p>
                    </div>
                    <div class="content snippet-container">
                        <p class="is-small snippet-text">${snippet}</p>
                    </div>
                    <div class="card-button-container">
                        <a href="${link}" class="button is-primary is-fullwidth">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>